.card-container {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  grid-gap: 10px;
}
.card-wrapper {
  border: 1px black solid;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(237, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
}

.restart-btn {
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.text {
  width: 300px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
